@import "~antd/dist/antd.css";

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.gf_light_blue_color {
  color: #00BEFF;
}

.gf_dark_blue_color {
  color: #00334B;
}

.gf_smoke_black_color {
  color: #121212;
}

.gf_general_page {
  min-height: 360px;
  padding: 24px;
  background-color: white;
}

.gf_page_background{
  background-color: white;
}